*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/

*.opensdf
*.sdf
*.suo
*.ipch
*.qbs
*.qbs.user
*.plist

.svn/
obj/

build*/
!data/
D:\of_v20180502_msys2_release\addons\ofxGLWarper\build-example-MultiWarpers-Desktop-Debug/